<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>insert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
    <center>
      <p>Index Page</p>
        <a class="btn btn-outline-primary" href="./insert">insert</a>
        <a class="btn btn-outline-primary" href="./Views">Views</a>
    <center>

</body>
</html>
