<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>insert</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
        <center>
          <p>Insert Page</p>
            <center>
                <a class="btn btn-outline-primary" href="./insert">insert</a>
                <a class="btn btn-outline-primary" href="./Views">Views</a>
                <p></p>
            <center>

            <form method="post" action="insert">
              <p><input type="text" class="form-control" name="fname" placeholder="First name"></p>
              <p><input type="text" class="form-control" name="lname" placeholder="last names"></p>
              <p><input type="text" class="form-control" name="sex" placeholder="sex"></p>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </center>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>
</body>
</html>
